<!-- Footer -->
<script>
  (function() {
    'use strict';
    var date = new Date();
    var year = date.getFullYear();
    document.getElementById('currentYear').innerHTML = year;
  }());
</script>
<footer class="footer">
  <div class="container">
    <p>Copyright &copy; <span id="currentYear">2015</span>. Log Camp, Inc. All rights reserved | Built by
      <a href="https://twitter.com/robertgraleigh">@robertgraleigh</a> &amp;
      <a href="https://twitter.com/flamingveggies">@flamingveggies</a>
    </p>
  </div>
  <!-- /.container -->
</footer>
<!-- footer -->
