<!-- Footer -->
<footer class="footer container-fluid" data-ng-controller="FooterCtrl">
	<div class="row">
		<div class="col-lg-6">
			<h3 class="brand">About {LOG} CAMP</h3>
			<p class="lead">We're an Oregon nonprofit school providing technology and computer science education for underserved, low-income, and minority youth living in Multnomah and Washington Counties.</p>
			<p class="lead"> Log Camp is located in Portland, OR.</p>
		</div>
		<!-- /.col-lg-4 -->
		<div class="col-lg-6">
			<h3>Contact us</h3>
			<ul class="list">
				<li>
  				<i class="fa fa-envelope-o fa-4x"></i>hello@logcamp.org
				</li>
				<li>
  				<i class="fa fa-twitter fa-4x"></i>
					<span>+1 5030526125</span>
				</li>
			</ul>
			<h3>Connect with us</h3>
			<ul class="list-inline">
				<li>
					<a data-ng-href="https://www.twitter.com/logcamp">
  					<i class="fa fa-twitter fa-4x"></i>
					</a>
				</li>
				<li>
					<a data-ng-href="https://www.facebook.com/logcamp">
  					<i class="fa fa-facebook fa-4x"></i>
					</a>
				</li>
				<li>
					<a data-ng-href="https://www.instagram.com/logcamp">
  					<i class="fa fa-twitter fa-4x"></i>
					</a>
				</li>
				<li>
					<a data-ng-href="https://www.linkedin.com/logcamp">
  					<i class="fa fa-linkedin fa-4x"></i>
					</a>
				</li>
				<li>
					<a data-ng-href="https://www.github.com/logcamp">
  					<i class="fa fa-github fa-4x"></i>
					</a>
				</li>
			</ul>
			<!-- /ul -->
		</div>
		<!-- /.col-lg-6 -->
	</div>
	<!-- /.row -->
	<div class="row">
		<div class="col-lg-12">
			<span>&copy; {{ date | date: 'yyyy' }}</span>. Log Camp, Inc. All rights reserved
			<span>Built by <a href="https://twitter.com/robertgraleigh">@robertgraleigh</a> &amp;
      	<a href="https://twitter.com/flamingveggies">@flamingveggies</a>
      </span>
		</div>
		<!-- /.col-lg-6 -->
	</div>
	<!-- /.row -->
</footer>
<!-- footer -->