<section id="" class="" width="50%;">
  <div class="container">
    <form id="donationForm" class="col-md-6" 
					data-ng-model="formInfo" 
					data-ng-controller="PaymentCtrl">
      <fieldset id="personalInfo" class="form-group row">
        <div class="col-md-6">
          <label for="fullName">Full Name</label>
          <input type="text" id="fullName" placeholder="Enter your last name" data-ng-model="formInfo.name">
        </div>
      </fieldset>
      <fieldset id="contactInfo" class="form-group row">
        <div class="col-md-6">
        <label for="emailAddress">Email Address</label>
        <input type="email" id="" placeholder="Enter your email address" data-ng-model="formInfo.emailAddress">
      </div>
      <div class="col-md-6">
        <label for="mobilePhone">Mobile Phone</label>
        <input type="tel" id="" placeholder="Enter your mobile number" data-ng-model="formInfo.mobilePhone">
      </div>
      </fieldset>
      <fieldset id="creditCard" class="form-group row">
        <div class="col-md-8">
        <label for="cardNumber">Credit Card #</label><br>
        <input type="text" id="creditCardNumber" data-ng-model="formInfo.number" cc-number placeholder="">
      </div>
      <div class="col-md-2">
        <label for="cvc">CVC</label>
        <input type="text" id="cvc" data-ng-model="formInfo.cvc" cc-cvc>
      </div>
      </fieldset>
      <fieldset id="expirationDate" class="form-group row" cc-exp>
        <div class="col-md-4">
        <label for="expiryMonth">Month</label>
        <input id="expiryMonth" data-ng-model="formInfo.exp_month" cc-exp-month>
      </div>
      <div class="col-md-4">
        <label for="expiryYear">Year</label>
        <input id="expiryYear" data-ng-model="formInfo.exp_year" cc-exp-year>
      </div>
      </fieldset>
      <fieldset class="form-group row">
        <div class="col-md-6">{{formInfo}}</div>
      </fieldset>
      <fieldset class="form-group row">
        <div class="col-md-8">
          <span>Name: {{formInfo.name}}</span><br>
          <span>Email Address: {{formInfo.emailAddress}}</span><br>
          <span>Mobile Phone: {{formInfo.mobilePhone}}</span><br>
          <span>Credit Card #:{{formInfo.number}}</span><br>
          <span>Card CVC: {{formInfo.cvc}}</span><br>
          <span>Exp Month:{{formInfo.exp_month}}</span><br>
          <span>Exp Year: {{formInfo.exp_year}}</span><br>
        </div>
      </fieldset>
      <button id="" class="btn btn-primary" data-ng-click="checkCard()">Donate to {LOG} CAMP</button>
    </form>
    <!-- /form -->
  </div>
  <!-- /div -->
</section>
<!-- /section -->